{{define "content"}}
<dl class="mx-auto grid grid-cols-1 gap-px bg-gray-900/5 sm:grid-cols-2 lg:grid-cols-4">
  <div class="flex flex-wrap items-baseline justify-between gap-x-4 gap-y-2 bg-white px-4 py-10 sm:px-6 xl:px-8">
    <dt class="text-sm/6 font-medium text-gray-500">Pages</dt>
    <dd class="text-xs font-medium text-gray-700"></dd>
    <dd class="w-full flex-none text-3xl/10 font-medium tracking-tight text-gray-900">{{.pages}}</dd>
  </div>
  <div class="flex flex-wrap items-baseline justify-between gap-x-4 gap-y-2 bg-white px-4 py-10 sm:px-6 xl:px-8">
    <dt class="text-sm/6 font-medium text-gray-500">Dir Size</dt>
    <dd class="text-xs font-medium text-rose-600"></dd>
    <dd class="w-full flex-none text-3xl/10 font-medium tracking-tight text-gray-900">{{.size}}</dd>
  </div>
  <div class="flex flex-wrap items-baseline justify-between gap-x-4 gap-y-2 bg-white px-4 py-10 sm:px-6 xl:px-8">
    <dt class="text-sm/6 font-medium text-gray-500">Items</dt>
    <dd class="text-xs font-medium text-gray-700">-</dd>
    <dd class="w-full flex-none text-3xl/10 font-medium tracking-tight text-gray-900">{{.itemsCount}}</dd>
  </div>
  <div class="flex flex-wrap items-baseline justify-between gap-x-4 gap-y-2 bg-white px-4 py-10 sm:px-6 xl:px-8">
    <dt class="text-sm/6 font-medium text-gray-500">Expenses</dt>
    <dd class="text-xs font-medium text-rose-600">+10.18%</dd>
    <dd class="w-full flex-none text-3xl/10 font-medium tracking-tight text-gray-900">$30,156.00</dd>
  </div>
</dl>

<ul>

<ul role="list" class="grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-3 sm:gap-x-6 lg:grid-cols-4 xl:gap-x-8 mt-4">
    {{range .files}}
    <li class="relative">
      <div class="group overflow-hidden rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 focus-within:ring-offset-gray-100">
        {{if .IsDir}}
        <a href="https://storage.barebasics.shop/app/?folder={{.Path}}">
        <img src="https://storage.barebasics.shop/static/folder2.svg/" alt="" class="pointer-events-none aspect-[10/7] object-cover group-hover:opacity-75">
        </a>
        {{else}}
        <a href="{{.SignedUrl}}"  target="_blank">
        <img src="{{.SignedUrl}}" alt="" class="pointer-events-none aspect-[10/7] object-cover group-hover:opacity-75">
        </a>
        {{end}}
        <!-- <button type="button" class="absolute inset-0 focus:outline-none">
          <span class="sr-only">{{.Name}}</span> 
        </button> -->
      </div>
      <p class="pointer-events-none mt-2 block truncate text-sm font-medium text-gray-900">{{.Name}}</p>
      <p class="pointer-events-none mt-2 block truncate text-sm font-medium text-gray-900">{{.Size}}</p>
      
    </li>  
    {{end}}

    <!-- More files... -->
  </ul>
</ul>

{{end}}